@{
    ViewData["Title"] = "Vista-Equipos";
}

<div class="text-center">
    <h1 class="display-4">Vista de las indumentarias</h1>
    @{
        if (ViewBag.algoCargado){
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre del Equipo</th>
                        <th>Medias</th>
                        <th>Shorts</th>
                        <th>Remeras</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var equipo in ViewBag.dicEquipos)
                        {
                            string direcMedias = "../../assets/medias/" + equipo.Value.Media + ".webp";
                            string direcShorts = "../../assets/shorts/" + equipo.Value.Short + ".webp";
                            string direcRemeras = "../../assets/remeras/" + equipo.Value.Remera + ".webp";
                            <tr>
                                <td class="td-key">@equipo.Key</td>
                                <td><img class="imagenTabla" src="@Html.Raw(direcMedias)" alt="Imagen Media"></td>
                                <td><img class="imagenTabla" src="@Html.Raw(direcShorts)" alt="Imagen Short"></td>
                                <td><img class="imagenTabla" src="@Html.Raw(direcRemeras)" alt="Imagen Remera"></td> 
                            </tr>                
                        }
                    }
                </tbody>
            </table>
                <p>Puede cargar crear mas indumentaria clickeando <a href='@Url.Action("SelectIndumentaria","Indumentaria")' alt="Ir a la seccion de SelectIndumentaria">aquí</a></p>
        } else {
            <p>Todavia no hay ninguna indumentaria creada</p>
            <p>Puede cargar nuevas indumentarias clickeando <a href='@Url.Action("SelectIndumentaria","Indumentaria")' alt="Ir a la seccion de SelectIndumentaria">aquí</a></p>
        }
    }
</div>
