@{
    ViewData["Title"] = "Vista-Equipos";
}

<div class="text-center">
    <h1 class="display-4">Vista de las indumentarias</h1>
    @{
        if (ViewBag.algoCargado){
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre del Equipo</th>
                        <th>Medias</th>
                        <th>Shorts</th>
                        <th>Remeras</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var equipo in ViewBag.dicEquipos)
                        {
                            <tr>
                                <td>@equipo.Key</td>
                                <td>@equipo.Value.Medias</td>
                                <td>@equipo.Value.Short</td>
                                <td>@equipo.Value.Remera</td>     
                            </tr>                
                        }
                    }
                </tbody>
            </table>
                <p>Puede cargar crear mas indumentaria clickeando <a href='@Url.Action("SelectIndumentaria","Indumentaria")' alt="Ir a la seccion de SelectIndumentaria">aquí</a></p>
        } else {
            <p>Todavia no hay ninguna indumentaria creada</p>
            <p>Puede cargar nuevas indumentarias clickeando <a href='@Url.Action("SelectIndumentaria","Indumentaria")' alt="Ir a la seccion de SelectIndumentaria">aquí</a></p>
        }
    }
</div>
