@{
    ViewData["Title"] = "Indumentaria";
}

<div class="text-center">
    <h1>Crear Indumentaria!</h1>
    <table class="table">
        <tbody>
            <tr>
                @for (int i = 0; i < 10; i++) {
                    string medias = "medias" + i;
                    string direcMedias = "../../assets/medias/" + ViewBag.ListaMedias[i];
                    <td class="contenedor-imagen">
                        <img class="no-select imagenTabla" src="@Html.Raw(direcMedias)" alt="imagen medias" id="@Html.Raw(medias)">
                    </td>
                }  
            </tr>
            <tr>
                @for (int i = 0; i < 10; i++) {
                    string shorts = "shorts" + i;
                    string direcShorts = "../../assets/shorts/" + ViewBag.ListaShorts[i];
                    <td class="contenedor-imagen">
                        <img class="no-select imagenTabla" src="@Html.Raw(direcShorts)" alt="imagen short" id="@Html.Raw(shorts)">
                    </td>
                } 
            </tr>
            <tr>
                @for (int i = 0; i < 10; i++) {
                    string remeras = "remeras" + i;
                    string direcRemeras = "../../assets/remeras/" + ViewBag.ListaRemeras[i];
                    <td class="contenedor-imagen">
                        <img class="no-select imagenTabla" src="@Html.Raw(direcRemeras)" alt="imagen remera" id="@Html.Raw(remeras)">
                    </td>
                } 
            </tr>
        </tbody>
    </table>
</div>
